{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
    max-height: 400px;
    {% if featured_image.make_image_background %}
        background-image: url("{{ featured_image.image.url }}");
        background-repeat: no-repeat;
        {% if featured_image.text_css_color %}
            color: #{{ featured_image.text_css_color }};
        {% endif %}
        background-size: cover;
    {% endif %}
}

.product-description {
    max-height: 100px;
    overflow: hidden;
}

{% endblock %}
</style>


     
{% block jumbotron %}
{% if featured_image %}
         <div class="jumbotron">
             <div class="container">
                 <div class="row">
                     <div class='col-sm-6 {% if featured_image.text_right %} pull-right {% endif %}'>
                         <h3>{{ featured_image.product.title }}</h3>
                         <p class="product-description">{{ featured_image.product.description }}</p>
                         <p>
                             <a class="btn btn-lg btn-primary" href="{{ featured_image.product.get_absolute_url }}" role="button">More Details</a>
                         </p>
                     </div>
                 {% if not featured_image.make_image_background %}
                     <div class='col-sm-6' >
                         <img src="{{ featured_image.product.get_image_url }}" class="img-responsive">
                     </div>
                 {% endif %}
                 </div>
             </div>
         </div>
{% endif %}
{% endblock %}




{% block content %}
    <div class="row">
    <h1>Featured Products</h1>
    </div>
    {% include "products/products.html" with object_list=products col_class_set="col-xs-2" %}
{% endblock %}