{% extends "base.html" %}


{% block pageJs %}
    {% load static %}
    <script src="{% static 'js/product_details.js' %}"></script>
    <script>
    $(document).ready(function () {
        $(".btn-update").hide();
    });
    $('.item-qty').on('input', function () {
        //$(this).next(".btn-update").fadeIn();
        //e.preventDefault();
        var item = $(this).prev("input[type='hidden']").val();
        var qty = $(this).val();
        var data = {
            item: item,
            qty: qty
        };

        console.log(data);
        $.ajax({
            type: "GET",
            url: "{% url 'cart' %}",
            data: data,
            success: function (data) {
                $("#jquery-message").text("Added: " + data.item_added + " Deleted: " + data.deleted);
                if (data.deleted) {
                    $("#item-" + item).fadeOut();
                    $("#subtotal").text("Subtotal: " + data.subtotal);
                }
                else {
                    $("#item-line-total-" + item).text(data.line_total);
                    $("#subtotal").text("Subtotal: " + data.subtotal);
                }

                if (data.total_items == 0) {
                    $(".table").fadeOut();
                    var template = "{% include 'carts/empty_cart.html' %}"
                    $(".main-content").html(template);
                }

                showFlashMessage(data.flash_message);
                updateCountItemCount();
            },
            error: function (response, error) {
                console.log(response);
                console.log(error);
                $("#add-form").submit()
            }
        })
    });
    </script>
{% endblock %}




{% block content %}
    <div class="row main-content">
        {% if object.cartitem_set.count < 1 %}
            {% include "carts/empty_cart.html" %}
        {% else %}
            <table class="table">
            {% for item in object.cartitem_set.all %}
                <tr id="item-{{ item.item.id }}">
                    <td><br>
                        {{ item.item.get_title }}
                    </td>
                    <td>
                        <form action="." method="get">
                            <input type="hidden" name="item" value="{{ item.item.id }}">
                            <input type="number" class="item-qty" name="qty" value="{{ item.quantity }}">
                            <input type="submit" class="btn-update btn btn-link" value="Update Item">
                        </form>
                    </td>
                    <td id="item-line-total-{{ item.item.id }}">
                        {{ item.line_item_total }}
                    </td>
                    <td class="text-right">
                        <a href="{{ item.remove }}">X</a>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td id="subtotal" colspan="4" class="text-right">Subtotal = {{ object.subtotal }}</td>
                </tr>

            </table>
        {% endif %}
    </div>
{% endblock %}